WebFormV1/Connected Services/WcfServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:14610/WebService/Wcf/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WebFormV1.WebService.Wcf" />
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="age" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WebFormV1.WebService.Wcf" minOccurs="0" name="DoWorkResult" nillable="true" type="q1:Info" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWork1">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWork1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DoWork1Result" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>