WebFormV1/Connected Services/MyWebServiceTest/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HelloWorld2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HelloWorld2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorld2Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MyWebService2">
        <s:complexType />
      </s:element>
      <s:element name="MyWebService2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MyWebService2Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWorld2SoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld2" />
  </wsdl:message>
  <wsdl:message name="HelloWorld2SoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorld2Response" />
  </wsdl:message>
  <wsdl:message name="MyWebService2SoapIn">
    <wsdl:part name="parameters" element="tns:MyWebService2" />
  </wsdl:message>
  <wsdl:message name="MyWebService2SoapOut">
    <wsdl:part name="parameters" element="tns:MyWebService2Response" />
  </wsdl:message>
  <wsdl:portType name="MyWebServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Hello Method Description!!</wsdl:documentation>
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HelloWorld1">
      <wsdl:input name="HelloWorld2" message="tns:HelloWorld2SoapIn" />
      <wsdl:output name="HelloWorld2" message="tns:HelloWorld2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MyWebServiceMethod">
      <wsdl:input name="MyWebService2" message="tns:MyWebService2SoapIn" />
      <wsdl:output name="MyWebService2" message="tns:MyWebService2SoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MyWebServiceSoap" type="tns:MyWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloWorld1">
      <soap:operation soapAction="http://tempuri.org/HelloWorld2" style="document" />
      <wsdl:input name="HelloWorld2">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="HelloWorld2">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MyWebServiceMethod">
      <soap:operation soapAction="http://tempuri.org/MyWebService2" style="document" />
      <wsdl:input name="MyWebService2">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="MyWebService2">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MyWebServiceSoap12" type="tns:MyWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloWorld1">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld2" style="document" />
      <wsdl:input name="HelloWorld2">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="HelloWorld2">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MyWebServiceMethod">
      <soap12:operation soapAction="http://tempuri.org/MyWebService2" style="document" />
      <wsdl:input name="MyWebService2">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="MyWebService2">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MyWebService">
    <wsdl:port name="MyWebServiceSoap" binding="tns:MyWebServiceSoap">
      <soap:address location="https://localhost:44386/WebService/Asmx/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="MyWebServiceSoap12" binding="tns:MyWebServiceSoap12">
      <soap12:address location="https://localhost:44386/WebService/Asmx/WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>